*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family:arial;
}

html, body{
    width:100%;
    height:100%;
    background-color: #ffffc3;
}

.nav-ul{
    width:60%;
    height:2.5em;
    background-color: #c7ff22;
    display:flex;
    margin:auto;
}

.nav-ul li{
    display:flex;
    flex:1;
    justify-content: center;
}

.nav-ul li a{
    text-decoration:none;
    font-weight:700;
    text-transform: uppercase;
    color: #000000;
    padding:12px;
}

.nav-ul li a:hover{
    color: #d30000;
    transition-duration:0.3s;
    cursor:pointer;
}

.img-container{
    width: 60%;
    height: 180px;
    border:3px solid #e41aff;
    margin:auto;
    padding:12px;
}

.main-content{
    margin:auto;
    display:grid;
    width:60%;
    grid-template-columns:1fr 2fr 1fr;
    text-align:center;
    background-color:white;
    height:100vh
}

.center-content{
    border:5px solid black;
}

.left-sidebar{
    border:5px solid red;
}

.right-sidebar{
    border:5px solid red;
}

.img-container p{
    display:flex;
    justify-content: center;
}

.content{
    color: #0e2fff;
}

.left-sidebar h1,
.right-sidebar h1{
    color:blue;
    text-decoration:underline;
    margin:20px;
}

.your-pokemon-title{
    font-family: 'Pokemon Solid', cursive;
    color: #ffb33e;
    margin:20px;
    letter-spacing: 3px;
}

.image-container{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}

.image-box{
    border:2px solid #ffb33e;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border-radius:5px;
    width:60%;
    height:200px;
    overflow: hidden;
    margin-bottom:30px;
    position:relative;
}

.image-box img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.l-content{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    font-size:.9em;
    padding:10px;
}

.popup {
    display: none;
    position: absolute;
    top: 50%;
    left: calc(100% + 10px);
    transform: translate(10px, -50%);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border: 3px solid #ff9b2b;
    border-radius: 5px;
    white-space: nowrap;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
}

.image-box:hover .popup {
  display: block;
}