*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family:arial;
}

html, body{
    width:100%;
    height:100%;
    background-color: #ffffc3;
}

ul{
    text-align:center;
    list-style-type: none;
}

li{
    border:1px solid black;
    text-decoration: none;
    padding:10px;
    display:flex;
}

h1{
    text-align:center;
}

.settings-list {
    list-style: none;
    padding: 0;
}

.settings-list li {
    margin-bottom: 10px;
    padding-left:200px;
    padding-right:200px;
}

.settings-list label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cst-check{
    width:30px;
    height:30px;
    order:2;
}

.main-content{
    border:3px solid red;
    margin:auto;
    display:flex;
    flex-direction: column;
    width:60%;
    height:100vh;
    text-decoration: none;
}

