*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family:Arial, sans-serif;
}

html, body{
    width:100%;
    height:100%;
    background-color: #ffffc3;

}

.background-image {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
}
#pikachu-image {
    background-image: url('images/025.png');
    background-position: left;
    background-size:400px;
}

#pokeball-image {
    background-image: url('images/Pokemon-1536x1536.png');
    background-position: right;
    background-size: 300px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index:1;
}

h2 {
    color: #333;
    font-family: 'Pokemon Solid', cursive;
    letter-spacing: 3px;

}

label{
    color:#333;
    font-family: 'Pokemon Solid', cursive;
    letter-spacing: 4px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin: 10px 0;
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
}

button {
    background-color: #ffb33e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #00556e;
    transition-duration: 0.3s;
}
